{% extends 'photo_objects/base.html' %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}

{% if grouped_albums %}
<div class="albums {% if grouped_albums|length > 1 %}grouped{% endif %}">
  {% for group, albums in grouped_albums.items %}
  {% if group and grouped_albums|length > 1 %}
  <div class="separator">
    <h2>{{ group }}</h2>
    <div class="line"></div>
    <div>{{ albums|length }} album{{ albums|length|pluralize }}</div>
  </div>
  {% endif %}
  <ul class="photo-list {% if not group or grouped_albums|length <= 1 %}ungrouped{% endif %}">
    {% for album in albums %}
    <li class="surface">
      <a href="{% url 'photo_objects:show_album' album.key %}">
        {% if user.is_authenticated %}
        <div class="visibility {{ album.visibility }}">{{ album.get_visibility_display }}</div>
        {% endif %}
        {% if album.cover_photo %}
        <img src="/img/{{ album.key }}/{{ album.cover_photo.filename }}/sm"
          alt="{{ album.cover_photo.alt }}"
          style="background: url(data:image/png;base64,{{ album.cover_photo.tiny_base64 }}); background-size: 100% 100%; font-size: 0;"
          height="{{ album.cover_photo.thumbnail_height }}" width="{{ album.cover_photo.thumbnail_width }}" />
        {% else %}
        <div class="photo-placeholder"></div>
        {% endif %}
        <div class="labels">
          <div class="label-primary">{{ album.title|default:album.key }}</div>
          <div class="label-secondary">{{ album.first_timestamp|date:"Y F"|default:"No photos" }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% else %}
<p class="albums">No albums available.</p>
{% endif %}
<div class="actions">
  {% if perms.photo_objects.add_album %}
  <a class="action" href="{% url 'photo_objects:new_album' %}">New album</a>
  {% endif %}
</div>

{% endblock %}
