{% extends 'photo_objects/base.html' %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}
{% if info %}
<div class="info-banner">{{ info }}</div>
{% endif %}
<div class="album">
  <div class="surface">
    {% if photos %}
    <ul class="photo-list">
      {% for photo in photos %}
      <li><a href="{% url 'photo_objects:show_photo' album.key photo.filename %}"
          title="{{ photo.title|default:photo.filename }}">
          <img src="/img/{{ album.key }}/{{ photo.filename }}/sm" alt="{{ photo.description|default:photo.filename }}"
            style="background: url(data:image/png;base64,{{ photo.tiny_base64 }}); background-size: 100% 100%; font-size: 0;"
            height="{{ photo.thumbnail_height }}" width="{{ photo.thumbnail_width }}" />
        </a></li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="empty">
    </div>
    {% endif %}
    <div class="labels">
      <div class="label-secondary">
        {% if photos|length == 0 %}
        No
        {% else %}
        {{ photos|length }}
        {% endif %}
        photo{{ photos|length|pluralize }}
      </div>
    </div>
  </div>
  {% include 'photo_objects/details.html' %}
</div>

<div class="actions">
  {% if perms.photo_objects.change_album %}
  <a class="action" href="{% url 'photo_objects:upload_photos' album.key %}">Upload photos</a>
  {% endif %}
  {% if perms.photo_objects.change_album and perms.photo_objects.add_photo %}
  <a class="action" href="{% url 'photo_objects:edit_album' album.key %}">Edit album</a>
  {% endif %}
  {% if perms.photo_objects.delete_album %}
  <a class="action delete" href="{% url 'photo_objects:delete_album' album.key %}">Delete album</a>
  {% endif %}
</div>
{% endblock %}