ul.photo-list {
  list-style-type: none;
  margin: 32px 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

ul.photo-list li, ul.photo-list a, ul.photo-list img {
  display: block;
}

ul.photo-list img {
  border-radius: 4px;
}

div.photo-placeholder {
  width: 171px;
  height: 256px;
  background-color: #ccc;
  border-radius: 4px;
}
