services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: django
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
  front:
    build:
      context: .
      target: front
    environment:
      OBJSTO_HOST: objsto
      OBJSTO_PORT: 9000
      OBJSTO_PROTOCOL: http
    ports:
      - 8080:80
  api:
    build:
      context: .
      target: back
    environment:
      DB_URL: postgresql://user:pass@db:5432/django
      OBJSTO_HOST: objsto
      OBJSTO_PORT: 9000
      OBJSTO_SECURE: 'false'
      URL: http://localhost:8080
    volumes:
      - 'photo_objects:/var/photo_objects'
  objsto:
    image: rustfs/rustfs
    command: /data
    environment:
      RUSTFS_ACCESS_KEY: access_key
      RUSTFS_SECRET_KEY: secret_key
      RUSTFS_CONSOLE_ENABLED: 'true'
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - 'objstodata:/data'

volumes:
  pgdata:
  objstodata:
  photo_objects:
