{% extends 'photo_objects/base.html' %}
{% load photo_objects_extras %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}

{% if grouped_photos %}
<div
  class="photos{% if grouped_photos|first_key or grouped_photos|length > 1 %} grouped{% endif %}{% if page.has_other_pages %} paginated{% endif %}">
  {% for group, photos in grouped_photos.items %}
  {% if group %}
  <h2>{{ group }}</h2>
  {% endif %}
  <ul class="photo-list">
    {% for photo in photos %}
    <li class="surface">
      <a href="{% url 'photo_objects:show_photo' photo.uuid %}{% querystring %}" title="{{ photo.title|default:photo.filename }}">
        <img src="/img/_uuid/{{ photo.uuid }}/sm" alt="{{ photo.alt }}"
          style="background: url(data:image/png;base64,{{ photo.tiny_base64 }}); background-size: 100% 100%; font-size: 0;"
          height="{{ photo.thumbnail_height }}" width="{{ photo.thumbnail_width }}" />
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% if page.has_other_pages %}
<div class="actions">
  {% if page.has_previous %}
  <a class="action" href="{% querystring page=page.previous_page_number %}">←</a>
  {% endif %}
  <span class="page-info surface">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
  {% if page.has_next %}
  <a class="action" href="{% querystring page=page.next_page_number %}">→</a>
  {% endif %}
</div>
{% endif %}
{% else %}
<p class="photos">No photos available.</p>
{% endif %}

{% endblock %}
