{% extends 'photo_objects/base.html' %}

{% block title %}
{% include 'photo_objects/title.html' %}
{% endblock %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}
<div class="photo-and-details">
  <div class="photo surface">
    <img src="/img/{{ photo.album.key }}/{{ photo.filename }}/lg" alt="{{ photo.description|default:photo.filename }}"
      style="background: url(data:image/png;base64,{{ photo.tiny_base64 }}); background-size: 100% 100%; font-size: 0;"
      height="{{ photo.height }}" width="{{ photo.width }}" />
  </div>
  {% include 'photo_objects/details.html' %}
</div>

<div class="actions">
  <a id="previous" class="action" href="{% url 'photo_objects:show_photo' photo.album.key previous_filename %}">←</a>
  <a id="next" class="action" href="{% url 'photo_objects:show_photo' photo.album.key next_filename %}">→</a>
  {% if perms.photo_objects.change_photo %}
  <a class="action" href="{% url 'photo_objects:edit_photo' photo.album.key photo.filename %}">Edit photo</a>
  {% endif %}
  {% if perms.photo_objects.delete_photo %}
  <a class="action delete" href="{% url 'photo_objects:delete_photo' photo.album.key photo.filename %}">Delete photo</a>
  {% endif %}
</div>
<script>
  document.addEventListener('keydown', function (event) {
    if (event.key === 'ArrowLeft') {
      document.querySelector('a#previous').click();
    } else if (event.key === 'ArrowRight') {
      document.querySelector('a#next').click();
    }
  });

  const photo = document.querySelector('.photo img');
  if (photo) {
    var startX;
    var clicked = false;

    photo.addEventListener('touchstart', function (event) {
      startX = event.changedTouches[0].pageX;
    });

    photo.addEventListener('touchmove', function (event) {
      if (clicked) {
        return;
      }
      const deltaX = event.changedTouches[0].pageX - startX;
      const trigger = photo.offsetWidth / 3;

      photo.style.left = deltaX + 'px';
      photo.style.opacity = 1 - Math.abs(deltaX) / trigger;

      if (deltaX > trigger) {
        document.querySelector('a#previous').click();
        clicked = true;
      } else if (deltaX < -trigger) {
        document.querySelector('a#next').click();
        clicked = true;
      }
    });

    photo.addEventListener('touchend', function (event) {
      if (!clicked) {
        photo.style.left = 0;
        photo.style.opacity = 1;
      }
    });
  }
</script>
{% endblock %}