{% extends 'photo_objects/base.html' %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}
<div class="photo-and-details">
  <div class="photo surface">
    <img src="/img/{{ photo.album.key }}/{{ photo.filename }}/lg" alt="{{ photo.alt }}"
      style="background: url(data:image/png;base64,{{ photo.tiny_base64 }}); background-size: 100% 100%; font-size: 0;"
      height="{{ photo.height }}" width="{{ photo.width }}" />
  </div>
  {% include 'photo_objects/details.html' %}
</div>

<div class="actions">
  <a id="previous" class="action" href="{% url 'photo_objects:show_photo' photo.album.key previous_filename %}">←</a>
  <a id="next" class="action" href="{% url 'photo_objects:show_photo' photo.album.key next_filename %}">→</a>
  {% if perms.photo_objects.change_photo %}
  <a class="action" href="{% url 'photo_objects:edit_photo' photo.album.key photo.filename %}">Edit photo</a>
  {% endif %}
  {% if perms.photo_objects.delete_photo %}
  <a class="action delete" href="{% url 'photo_objects:delete_photo' photo.album.key photo.filename %}">Delete photo</a>
  {% endif %}
</div>
<script>
  document.addEventListener('keydown', function (event) {
    if (event.key === 'ArrowLeft') {
      document.querySelector('a#previous').click();
    } else if (event.key === 'ArrowRight') {
      document.querySelector('a#next').click();
    }
  });

  window.addEventListener('pageshow', function (event) {
    // Reset page position to (almost) top and hide mobile browsers address bar.
    window.scrollTo(0, 1);

    const photo = document.querySelector('.photo img');
    if (!photo) {
      return;
    }

    // Firefox remembers photo position when navigating back to photo with browesrs back button.
    photo.style.left = 0;
    photo.style.opacity = 1;
  });

  // Wait for load event instead of DOMContentLoaded so that images and styles have been loaded before configuring the event listeners.
  addEventListener("load", function () {
    const photo = document.querySelector('.photo img');
    const surface = document.querySelector('.photo.surface');

    if (!photo || !surface) {
      return
    }

    const trigger = photo.offsetWidth * 0.4;

    var startX;
    var deltaX;


    photo.addEventListener('touchstart', function (event) {
      startX = event.changedTouches[0].pageX;
      photo.classList.add('touch');
    });

    photo.addEventListener('touchmove', function (event) {
      deltaX = event.changedTouches[0].pageX - startX;

      photo.style.left = deltaX + 'px';
      photo.style.opacity = 1 - Math.abs(deltaX) / trigger * 0.4;

      if (deltaX > trigger) {
        surface.classList.add("previous");
      } else if (deltaX < -trigger) {
        surface.classList.add("next");
      } else {
        surface.classList.remove("previous", "next");
      }
    });

    photo.addEventListener('touchend', function (event) {
      if (deltaX > trigger) {
        document.querySelector('a#previous').click();
      } else if (deltaX < -trigger) {
        document.querySelector('a#next').click();
      } else {
        photo.style.left = 0;
        photo.style.opacity = 1;
      }

      photo.classList.remove('touch');
    });
  });
</script>
{% endblock %}