{% extends 'photo_objects/base.html' %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}
<!-- TODO: Instructions? -->

<div class="form">
  {% include 'photo_objects/form-photo.html' %}
  <form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% if info %}
    <div class="info-banner">{{ info }}</div>
    {% endif %}
    <ul>
      {{ form.as_ul }}
    </ul>
    <input type="submit" value="Upload">
  </form>
</div>
<script>
  function renderPreviews() {
    const input = document.querySelector('#id_photos');
    if (input.files.length > 0) {
      const label = document.querySelector('label[for=id_photos]')
      label.textContent = '';

      for (let i = 0; i < input.files.length; i++) {
        const file = input.files[i];

        const img = document.createElement('img');
        img.alt = " " + file.name + " ";
        img.src = URL.createObjectURL(file);

        label.appendChild(img);
      }
    }
  }

  // Render images instead of label after selecting files
  document.querySelector('#id_photos').addEventListener('change', renderPreviews);

  // Make the label focusable as the input is hidden
  document.querySelector('label[for=id_photos]').setAttribute('tabindex', '0');

  // Handle enter and space key events on label
  document.querySelector('label[for=id_photos]').addEventListener('keydown', function (event) {
    if (event.code === 'Enter' || event.code === 'Space') {
      event.preventDefault();
      document.querySelector('#id_photos').click();
    }
  });

  // Allow drop events on label
  document.querySelector('label[for=id_photos]').addEventListener('dragover', function (event) {
    event.preventDefault();
  });

  // Handle drop event on label
  document.querySelector('label[for=id_photos]').addEventListener('drop', function (event) {
    event.preventDefault();

    const input = document.querySelector('#id_photos');
    input.files = event.dataTransfer.files;
    renderPreviews();
  });
</script>
{% endblock %}