@font-face {
  font-family: "Source Sans 3";
  src: url("./SourceSans3.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./SourceCodePro.ttf");
}

:root {
  --bg-primary: #191b1f;
  --bg-secondary: #202327;
  --bg-border: #494a4d;
  --bg-error: #272020;
  --bg-error-border: #8f3d3f;
  --bg-info: #1e242b;
  --bg-info-border: #4d6280;
  --bg-warning: #2b2e2f;
  --bg-warning-border: #8f6f3f;

  --fg-primary: #d1d3d7;
  --fg-secondary: #a9acb1;

  --fg-blue: #9a9fef;
  --fg-red: #ef8a8c;
  --fg-info: #a8c6f0;
  --fg-warning: #f0c68a;
}

body {
  background-color: var(--bg-primary);
  box-sizing: border-box;
  color: var(--fg-primary);
  display: flex;
  font-family: "Source Sans 3", sans-serif;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0 auto;
}

@media screen and (min-width: 1600px) {

  header,
  main,
  footer {
    max-width: calc(100vw - 400px);
  }
}

@media screen and (min-width: 2200px) {

  header,
  main,
  footer {
    max-width: 1800px;
  }
}

header {
  min-height: 56px;
  padding: 8px;
  overflow: hidden;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-right: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header a.back-link {
  white-space: nowrap;
}

header div.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.link {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--fg-blue);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
}

.user-profile {
  appearance: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  flex-shrink: 0;
  border: 1px solid var(--bg-border);
  background: var(--fg-blue);
  color: var(--bg-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

button.user-profile {
  cursor: pointer;
}

dialog.user-modal {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  height: 100vh;
  max-height: unset;
  width: min(400px, 90%);
  z-index: 10;

  border: none;
  border-left: 1px solid var(--bg-border);
  padding: 0;
  margin: 0;
  background-color: var(--bg-secondary);
  box-shadow: -2px 0 8px -2px rgba(0, 0, 0, 0.5);

  color: var(--fg-primary);
}

dialog.user-modal div.user-modal-content {
  box-sizing: border-box;
  padding: 24px 16px;
  height: 100%;
}

dialog.user-modal::backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px) brightness(90%);
}

dialog.user-modal:focus-visible {
  outline-offset: -4px;
  outline: 2px solid var(--fg-secondary);
}

div.user-modal-pre,
div.user-modal-post {
  position: absolute;
}

dialog.user-modal div.user-details .user-profile {
  margin-right: 8px;
}

dialog.user-modal div.user-modal-header,
dialog.user-modal div.user-details {
  display: flex;
  align-items: center;
}

dialog.user-modal div.user-modal-header {
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-border);
}

dialog.user-modal .user-modal-action {
  border-bottom: 1px solid var(--bg-border);
  padding: 16px 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;

  font-size: 0.8em;
  margin-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer svg {
  height: 1.666em;
  width: auto;
}

/* Inline code */
code {
  background-color: var(--bg-secondary);
  border-radius: 4px;
  font-family: "Source Code Pro", monospace;
  padding: .125rem .25rem;
}

/* Links */
a {
  color: var(--fg-blue);
}

a:visited {
  color: var(--fg-blue);
}

a:active {
  color: var(--fg-red);
}

a:focus-visible,
button.link:focus-visible {
  border-radius: 2px;
  outline: 2px solid var(--fg-secondary);
  outline-offset: 2px;
}

a.action,
form input[type="submit"] {
  background-color: var(--fg-blue);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.5);
  color: var(--bg-primary);
  border-radius: 4px;
  padding: .5rem 1rem;
  cursor: pointer;
  appearance: none;
  border: none;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.8em;
  text-decoration: none;
}

a.action.delete,
form input[type="submit"].delete {
  background-color: var(--fg-red);
}

div.actions {
  display: flex;
  gap: .5rem;
}


/* Default focus style*/
button:focus-visible,
a.action:focus-visible,
form input[type="submit"]:focus-visible,
form input[type="text"]:focus-visible,
form input[type="password"]:focus-visible,
form textarea:focus-visible,
form select:focus-visible,
label[for="id_photos"]:focus-visible,
div.photo-select div:focus-within {
  outline: 2px solid var(--fg-secondary);
  outline-offset: 2px;
}


/* Forms */
div.form {
  flex: 1;
  margin: 1rem 0 0;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
  gap: 2rem 1rem;
}

div.configuration {
  margin: 1rem 0;
}

div.form div.photo {
  flex: 1;
  min-width: min(400px, 100%);
  max-width: 916px;
}

@media screen and (max-width: 931.5px) {
  div.form div.photo {
    max-height: min(500px, 50vh);
  }
}

main form {
  flex: 1.4;
  min-width: min(500px, 100%);
}

form input[type="text"],
form input[type="password"],
form textarea,
form select {
  background-color: var(--bg-secondary);
  box-sizing: border-box;
  color: var(--fg-primary);
  border: 1px solid var(--bg-border);
  border-radius: 4px;
  font-size: 0.875rem;
  padding: .5rem;
  max-width: 916px;
}

form textarea {
  font-family: "Source Code Pro", monospace;
  resize: vertical;
}

.configuration ul,
form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.configuration ul li,
form ul li {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.configuration ul li:first-of-type,
form ul li:first-of-type {
  margin-top: 0;
}

.configuration .helptext,
form .helptext {
  font-size: .75em;
  margin: .25rem 0;
  max-width: 916px;
}

.configuration .helptext p,
form .helptext p {
  margin: 0;
  display: inline;
}

form ul.errorlist {
  color: var(--fg-red);
  margin: 0;
  max-width: 916px;
}

form input[type="submit"] {
  /* Other definitions shared with action links. */
  margin: 1.5rem 0;
}

.configuration .status,
div.info-banner,
form .error,
form ul.errorlist li {
  color: var(--fg-red);
  background: var(--bg-error);
  border: 1px solid var(--bg-error-border);
  border-radius: 4px;
}

div.info-banner,
form .error,
form ul.errorlist li {
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
  padding: .5rem;
}

.configuration .status.warning,
p.warning-banner {
  color: var(--fg-warning);
  background: var(--bg-warning);
  border-color: var(--bg-warning-border);
}

.configuration .status.ok,
div.info-banner {
  color: var(--fg-info);
  background: var(--bg-info);
  border-color: var(--bg-info-border);
}

.configuration .status {
  margin-left: .5rem;
  padding: 0 .25rem;
}

div.info-banner {
  margin: 1rem 0 0;
}

div.info-banner p {
  margin: 0;
}

div.info-banner::before,
form .error::before,
form ul.errorlist li::before {
  content: "!";
  font-weight: bold;
  padding: 0 .75em 0 .25em;
  margin: auto 0;
}

div.info-banner::before {
  content: "i";
}


/* Photo select */
div.photo-select {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  gap: 8px;
}

div.photo-select div {
  border-radius: 4px;
  display: block;
  position: relative;
}

div.photo-select label {
  display: block;
}

div.photo-select div input[type="radio"] {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;

  appearance: none;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: var(--bg-secondary);
  border: 1px solid var(--bg-border);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.photo-select div input[type="radio"]:focus {
  outline: none;
}

div.photo-select div input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: var(--fg-primary);
  border-radius: 50%;
}

div.photo-select div img {
  border-radius: 4px;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}


/* File input */
input[type="file"]#id_photos {
  display: none;
}

label[for="id_photos"] {
  background-color: var(--bg-secondary);
  color: var(--fg-primary);
  border: 1px solid var(--bg-border);
  border-radius: 4px;
  padding: 16px;
  max-width: 916px;
  cursor: pointer;
  min-height: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

label[for="id_photos"] img {
  height: 96px;
  width: auto;
  border-radius: 4px;

  /* For nicely rendering invalid images */
  background: var(--fg-secondary);
  box-sizing: border-box;
  color: var(--bg-primary);
  white-space: pre;
}


/* Photo surface */
.surface {
  background-color: var(--bg-secondary);
  border-radius: 4px;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.5);
}

.surface .labels {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: var(--fg-primary);
  border-top: 1px solid var(--bg-primary);
}

.labels .label-primary {
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.labels .label-secondary {
  font-size: .75em;
}


/* Resource highlight*/
.resource-highlight {
  font-weight: bold;
  word-break: break-all;
}


/* Albums */
.albums {
  flex: 1;
}

/* Album */
div.album {
  margin: 16px 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;
}

div.album .surface {
  flex: 3;
  min-width: min(600px, 100%);
  margin: 0;
}

div.album ul.photo-list {
  margin: 0;
}

div.album div.empty {
  min-height: 128px;
}

div.album ul.photo-list li {
  aspect-ratio: 1;
}


/* Photo lists */
ul.photo-list {
  list-style-type: none;
  margin: 16px 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  gap: 8px;
}

ul.photo-list a {
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
}

ul.photo-list li {
  display: block;
}

ul.photo-list img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}

ul.photo-list div.photo-placeholder {
  background-color: #ccc;
  aspect-ratio: 1;
}


/* Photo details */
div.photo-and-details {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

div.photo {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min(600px, 100%);
  max-width: 100%;
  height: calc(100vh - 100px);
  max-height: 100vh;
}

div.photo img {
  border-radius: 4px;
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: left 125ms, opacity 125ms;
}

/* Details */
div.album dl,
div.photo-and-details dl {
  margin: 0;
  flex: 1;
  min-width: min(384px, 100%);
}

dl dt {
  font-weight: 600;
  font-size: 0.7em;
  color: var(--fg-secondary)
}

dl dd {
  margin: 0 0 1rem;
}

dd.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

dd.list div.item {
  white-space: nowrap;
}

dd p:first-of-type {
  margin-top: 0;
}

dd p:last-of-type {
  margin-bottom: 0;
}

/* Problem */
dl.problem {
  margin: 1rem 0;
}

/* Login form */
div.login.form {
  align-content: normal;
}

div.login.form form {
  margin: auto 0;
}

div.login.form div.surface {
  flex: 1.8;
  height: unset;
}

div.login.form div.surface img {
  flex: 1.8;
  width: 100%;
  height: 100%;
  object-fit: cover;
}