@font-face {
  font-family: "Source Sans 3";
  src: url("/static/photo_objects/SourceSans3.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/static/photo_objects/SourceCodePro.ttf");
}

:root {
  --bg-primary: #191b1f;
  --bg-secondary: #202327;
  --bg-border: #494a4d;
  --bg-error: #272020;
  --bg-error-border: #8f3d3f;
  --bg-info: #1e242b;
  --bg-info-border: #4d6280;
  --bg-warning: #2b2e2f;
  --bg-warning-border: #8f6f3f;

  --fg-primary: #d1d3d7;
  --fg-secondary: #a9acb1;

  --fg-blue: #9a9fef;
  --fg-red: #ef8a8c;
  --fg-info: #a8c6f0;
  --fg-yellow: #f0c68a;
  --fg-green: #679572;

  --placeholder-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.33)), linear-gradient(var(--fg-red), var(--fg-blue));

  --font-main: "Source Sans 3", sans-serif;
  --font-mono: "Source Code Pro", monospace;
}

body {
  background-color: var(--bg-primary);
  box-sizing: border-box;
  color: var(--fg-primary);
  display: flex;
  font-family: var(--font-main);
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0 auto;
}

@media screen and (min-width: 1600px) {

  header,
  main,
  footer {
    max-width: calc(100vw - 400px);
  }
}

@media screen and (min-width: 2200px) {

  header,
  main,
  footer {
    max-width: 1800px;
  }
}

header.narrow,
main.narrow,
footer.narrow {
  max-width: 800px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 56px;
  padding: 8px;
  padding-bottom: 0;
  overflow: hidden;
}

header .title-and-back-link {
  max-width: calc(100vw - 64px);
}

header h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  margin-right: 8px;
  margin-top: -0.125em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .back-link {
  display: flex;
  gap: 1ch;

  font-family: var(--font-mono);
  font-size: 0.75em;
  white-space: nowrap;
}

header .back-link a {
  overflow: hidden;
  text-overflow: ellipsis;
}

header .back-link span {
  color: var(--fg-secondary);
}

button.link {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--fg-blue);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: underline;
}

.user-profile {
  appearance: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  flex-shrink: 0;
  border: 1px solid var(--bg-border);
  background: var(--fg-blue);
  color: var(--bg-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

button.user-profile {
  cursor: pointer;
}

dialog.user-modal {
  position: fixed;
  top: 12px;
  left: auto;
  right: 12px;
  height: calc(100vh - 24px);
  max-height: unset;
  width: min(400px, 90%);
  z-index: 10;

  border: 1px solid var(--bg-border);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  background-color: var(--bg-secondary);
  box-shadow: -2px 0 8px -2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

  color: var(--fg-primary);
}

dialog.user-modal div.user-modal-content {
  box-sizing: border-box;
  padding: 24px 16px;
  height: 100%;
}

dialog.user-modal::backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px) brightness(90%);
}

dialog.user-modal:focus-visible {
  outline-offset: -4px;
  outline: 2px solid var(--fg-secondary);
}

div.user-modal-pre,
div.user-modal-post {
  position: absolute;
}

dialog.user-modal div.user-details .user-profile {
  margin-right: 8px;
}

dialog.user-modal div.user-modal-header,
dialog.user-modal div.user-details {
  display: flex;
  align-items: center;
}

dialog.user-modal div.user-details .label-secondary {
  color: var(--fg-secondary);
  font-family: var(--font-mono);
}

dialog.user-modal div.user-modal-header {
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-border);
}

dialog.user-modal .user-modal-action {
  border-bottom: 1px solid var(--bg-border);
  padding: 16px 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;

  color: var(--fg-secondary);
  font-size: 0.8em;
  margin-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer svg {
  height: 1.666em;
  width: auto;
}

footer a,
footer a:visited {
  color: currentColor;
  text-decoration: none;
}

footer a:hover,
footer a:focus-visible {
  color: var(--fg-blue);
  text-decoration: underline;
}

/* Inline code */
code {
  background-color: var(--bg-secondary);
  border-radius: 4px;
  font-family: var(--font-mono);
  padding: .125rem .25rem;
}

/* Links */
a,
a:visited {
  color: var(--fg-blue);
}

a:active {
  color: var(--fg-red);
}

a:focus-visible,
button.link:focus-visible {
  border-radius: 2px;
  outline: 2px solid var(--fg-secondary);
  outline-offset: 2px;
}

a.action,
form input[type="submit"] {
  background-color: var(--fg-blue);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.5);
  color: var(--bg-primary);
  border-radius: 4px;
  padding: .5rem 1rem;
  cursor: pointer;
  appearance: none;
  border: none;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.8em;
  text-decoration: none;
}

a.action.delete,
form input[type="submit"].delete {
  background-color: var(--fg-red);
}

div.actions {
  display: flex;
  gap: .5rem;
}


/* Default focus style*/
button:focus-visible,
a.action:focus-visible,
form input[type="submit"]:focus-visible,
form input[type="text"]:focus-visible,
form input[type="password"]:focus-visible,
form textarea:focus-visible,
form select:focus-visible,
label[for="id_photos"]:focus-visible,
div.photo-select div:focus-within {
  outline: 2px solid var(--fg-secondary);
  outline-offset: 2px;
}


/* Preview */
div.preview {
  margin: 1rem 0;
}

div.preview div.surface {
  display: flex;
  max-height: 160px;
  overflow: hidden;
}

div.preview div.surface img {
  display: block;
  width: 160px;
  height: 160px;
  object-fit: cover;
  aspect-ratio: 1;
}

div.preview div.photo-placeholder {
  background: var(--placeholder-gradient);
  width: 160px;
  height: 160px;
  aspect-ratio: 1;
}


div.preview div.surface .title-and-description {
  flex: 1;
  padding-left: 8px;
}

div.preview div.surface .title-and-description p {
  margin: 0;
}


/* Forms */
div.form {
  flex: 1;
  margin-top: 1rem;
}

div.configuration {
  margin: 1rem 0;
}

form input[type="text"],
form input[type="password"],
form textarea,
form select {
  background-color: var(--bg-secondary);
  box-sizing: border-box;
  color: var(--fg-primary);
  border: 1px solid var(--bg-border);
  border-radius: 4px;
  font-size: 0.875rem;
  padding: .5rem;
  max-width: 916px;
}

form textarea {
  font-family: var(--font-mono);
  height: 9em;
  resize: vertical;
}

.configuration ul,
form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.configuration ul li,
form ul li {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.configuration ul li:first-of-type,
form ul li:first-of-type {
  margin-top: 0;
}

form .instructions p {
  font-size: 0.75em;
  margin: 0 0 1.5rem;
}

.configuration .helptext,
.preview .helptext,
form .helptext {
  display: block;
  font-size: .75em;
  margin: .25rem 0;
  max-width: 916px;
}

.configuration .helptext p,
.preview .helptext p,
form .helptext p {
  margin: 0;
  display: inline;
}

form ul.errorlist {
  color: var(--fg-red);
  margin: 0;
  max-width: 916px;
}

form input[type="submit"] {
  /* Other definitions shared with action links. */
  margin: 1.5rem 0;
}

.configuration .status,
div.info-banner,
form .error,
form ul.errorlist li {
  color: var(--fg-red);
  background: var(--bg-error);
  border: 1px solid var(--bg-error-border);
  border-radius: 4px;
}

div.info-banner,
form .error,
form ul.errorlist li {
  display: flex;
  flex-direction: row;
  margin: 0 0 .5rem;
  padding: .5rem;
}

.configuration .status.warning,
p.warning-banner {
  color: var(--fg-yellow);
  background: var(--bg-warning);
  border-color: var(--bg-warning-border);
}

.configuration .status.ok,
div.info-banner {
  color: var(--fg-info);
  background: var(--bg-info);
  border-color: var(--bg-info-border);
}

.configuration .status {
  margin-left: .5rem;
  padding: 0 .25rem;
}

div.info-banner {
  margin: 1rem 0 0;
}

form div.info-banner {
  margin: 0 0 .5rem;
}

div.info-banner p {
  margin: 0;
}

div.info-banner::before,
form .error::before,
form ul.errorlist li::before {
  content: "!";
  font-weight: bold;
  padding: 0 .75em 0 .25em;
  margin: auto 0;
}

div.info-banner::before {
  content: "i";
}


/* Photo select */
div.photo-select {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  gap: 8px;
}

div.photo-select div {
  border-radius: 4px;
  display: block;
  position: relative;
}

div.photo-select label {
  display: block;
}

div.photo-select div input[type="radio"] {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;

  appearance: none;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: var(--bg-secondary);
  border: 1px solid var(--bg-border);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.photo-select div input[type="radio"]:focus {
  outline: none;
}

div.photo-select div input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: var(--fg-primary);
  border-radius: 50%;
}

div.photo-select div img {
  border-radius: 4px;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}


/* File input */
input[type="file"]#id_photos {
  display: none;
}

label[for="id_photos"] {
  background-color: var(--bg-secondary);
  color: var(--fg-primary);
  border: 1px solid var(--bg-border);
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  min-height: 144px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  gap: 8px;
}

label[for="id_photos"].empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

label[for="id_photos"] img {
  aspect-ratio: 1;
  border: none;
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;

  /* For nicely rendering invalid images */
  background: var(--placeholder-gradient);
  box-sizing: border-box;
  color: var(--bg-primary);
  font-family: var(--font-mono);
  font-size: .666em;
  object-fit: cover;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

label[for="id_photos"] div.photo-upload.uploading img {
  animation: 1s infinite alternate fade-in-out;
}

label[for="id_photos"] div.photo-upload {
  border-radius: 4px;
  overflow: hidden;
}

label[for="id_photos"] div.photo-upload.ok div.status ,
label[for="id_photos"] div.photo-upload.failed div.status ,
label[for="id_photos"] div.photo-upload.uploading div.status {
  text-align: center;
  display: block;
  background: var(--fg-blue);
  color: var(--bg-primary);
  font-size: 0.75em;
  font-weight: 600;
}

label[for="id_photos"] div.photo-upload.ok div.status {
  background: var(--fg-green);
}

label[for="id_photos"] div.photo-upload.failed div.status {
  background: var(--fg-red);
}

@keyframes fade-in-out {
  from {
    opacity: 0.25;
  }

  to {
    opacity: 0.75;
  }
}


/* Photo surface */
.surface {
  background-color: var(--bg-secondary);
  border-radius: 4px;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.5);
}

.surface .labels {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: var(--fg-primary);
  border-top: 1px solid var(--bg-primary);
}

.labels .label-primary {
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.labels .label-secondary {
  font-size: .75em;
}


/* Resource highlight*/
.resource-highlight {
  font-weight: bold;
  word-break: break-all;
}


/* Albums */
.albums {
  flex: 1;
}

/* Album */
div.album {
  margin: 16px 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;
}

div.album .surface {
  flex: 3;
  min-width: min(600px, 100%);
  margin: 0;
}

div.album ul.photo-list {
  margin: 0;
}

div.album div.empty {
  min-height: 128px;
}

div.album ul.photo-list li {
  aspect-ratio: 1;
}


/* Photo lists */
ul.photo-list {
  list-style-type: none;
  margin: 16px 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  gap: 8px;
}

ul.photo-list a {
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
}

ul.photo-list li {
  display: block;
  position: relative;
}

ul.photo-list img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}

ul.photo-list div.photo-placeholder {
  background: var(--placeholder-gradient);
  aspect-ratio: 1;
}

ul.photo-list div.visibility {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--fg-red);
  border-radius: 0 4px 0 2px;
  color: var(--bg-primary);
  font-size: 0.75em;
  padding: 0 0.25em;
}

ul.photo-list div.visibility.public {
  background-color: var(--fg-green);
}

ul.photo-list div.visibility.hidden {
  background-color: var(--fg-blue);
}

ul.photo-list div.visibility.private {
  background-color: var(--fg-yellow);
}

/* Photo details */
div.photo-and-details {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

div.photo {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min(600px, 100%);
  max-width: 100%;
  height: calc(100vh - 100px);
  /* Use smallest viewport height to fit the surface to screen when mobile address bar is visible. */
  height: calc(100svh - 82px);
  max-height: 100vh;
}

div.photo img {
  border-radius: 4px;
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

div.photo.touch img {
  transition: left 125ms, opacity 125ms;
}

div.photo.surface {
  overflow: hidden;
  position: relative;
}

div.photo.surface.previous:before,
div.photo.surface.next:before {
  content: "←";
  position: absolute;
  left: 1rem;
  right: unset;
  padding: 0.5rem 1rem;
  background: var(--fg-blue);
  border-radius: 4px;
  font-size: 0.8em;
  color: var(--bg-primary);
  font-weight: 600;
}

div.photo.surface.next:before {
  content: "→";
  left: unset;
  right: 1rem;
}

/* Details */
div.album dl,
div.photo-and-details dl {
  margin: 0;
  flex: 1;
  min-width: min(384px, 100%);
}

dl dt {
  font-weight: 600;
  font-size: 0.7em;
  color: var(--fg-secondary)
}

dl dd {
  margin: 0 0 1rem;
}

dd.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

dd.list div.item {
  white-space: nowrap;
}

dd p:first-of-type {
  margin-top: 0;
}

dd p:last-of-type {
  margin-bottom: 0;
}

/* Problem */
dl.problem {
  margin: 1rem 0;
}
