name: Release
on:
  push:
    tags:
    - 'v*'

jobs:
  release-pypi:
    name: Python Package Index
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
    - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: pip install build
    - name: Build Python packages
      run: python -m build --sdist --wheel --outdir dist/
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
  release-ghcr:
    name: GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push container image to GitHub Container Registry
        run: |
          docker build . --target front -t front
          docker build . --target back -t api
          for tag in ${{ github.ref_name }} latest; do
            docker tag front ghcr.io/${{ github.repository }}-front:$tag
            docker push ghcr.io/${{ github.repository }}-front:$tag

            docker tag api ghcr.io/${{ github.repository }}-api:$tag
            docker push ghcr.io/${{ github.repository }}-api:$tag
          done
