name: Release
on:
  push:
    tags:
    - 'v*'

jobs:
  release-pypi:
    name: Python Package Index
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: pip install build
    - name: Build Python packages
      run: python -m build --sdist --wheel --outdir dist/
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
  release-ghcr:
    name: GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push container image to GitHub Container Registry
        run: |
          docker build . --target front -t front
          docker build . --target back -t api
          for tag in ${{ github.ref_name }} latest; do
            docker tag front ghcr.io/${{ github.repository }}-front:$tag
            docker push ghcr.io/${{ github.repository }}-front:$tag

            docker tag api ghcr.io/${{ github.repository }}-api:$tag
            docker push ghcr.io/${{ github.repository }}-api:$tag
          done
