{% extends 'photo_objects/base.html' %}

{% block title %}
{% include 'photo_objects/title.html' %}
{% endblock %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}

<!-- TODO: Instructions? -->

<div class="form">
  {% include 'photo_objects/form-photo.html' %}
  <form action="" method="post">
    <p>Are you sure you want to delete <span class="resource-highlight">{{ resource }}</span>? This action can not be undone.</p>
    {% csrf_token %}
    {% if error %}
    <p class="error">{{ error }}</p>
    {% else %}
    <input class="delete" type="submit" value="Delete">
    {% endif %}
  </form>
</div>
{% endblock %}
