{% extends 'photo_objects/base.html' %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}

<!-- TODO: Instructions? -->

{% if preview %}
{% include 'photo_objects/preview.html' %}
{% endif %}
<div class="form">
  <form action="" method="post">
    <p>Are you sure you want to delete <span class="resource-highlight">{{ resource }}</span>? This action can not be undone.</p>
    {% csrf_token %}
    {% if error %}
    <p class="error">{{ error }}</p>
    {% else %}
    <button class="delete" type="submit">Delete</button>
    {% endif %}
  </form>
</div>
{% endblock %}
