{% load photo_objects_extras %}
<dl>
  {% for key, value in details.items %}
  {% if value %}
  <dt>{{ key }}</dt>
  {% if value|is_list %}
  <dd class="list">
    {% for i in value %}
    <div class="item">
      {{ i }}
    </div>
    {% endfor %}
  </dd>
  {% elif value|is_datetime %}
  <dd>
    <time datetime="{{ value|date:'c' }}">
      {{ value|date:"D, d M Y H:i" }}
      <span class="secondary">{{ value|date:"T" }}</span>
    </time>
  </dd>
  {% else %}
  <dd>{{ value }}</dd>
  {% endif %}
  {% endif %}
  {% endfor %}
</dl>