{% extends 'photo_objects/base.html' %}

{% block header %}
{% include 'photo_objects/header.html' %}
{% endblock %}

{% block content %}
{% if info %}
<div class="info-banner">{{ info }}</div>
{% endif %}
<div class="form {{ class|default:'' }}">
  {% include 'photo_objects/form-photo.html' %}
  <form action="" method="post">
    {{ instructions }}
    {% csrf_token %}
    <ul>
      {{ form.as_ul }}
    </ul>
    <input type="submit" value="{{ action|default:'Save'}}">
  </form>
</div>
{% endblock %}