{% load photo_objects_extras %}
{% url 'photo_objects:login' as login_url %}
<div class="title-row">
  <h1>{{ title }}</h1>
  {% if user.is_authenticated %}
  <button aria-label="Open user menu" class="user-profile" onclick="openUserModal()"
    title="Logged in as {{ user|display_name }}">
    {% include 'photo_objects/user-profile-content.html' %}
  </button>
  {% elif request.path != login_url %}
  <a href="{% url 'photo_objects:login' %}?next={{ request.path }}">Login</a>
  {% endif %}
</div>
{% if back %}
<a class="back-link" href="{{ back.url }}">{{ back.text }}</a>
{% endif %}
{% if user.is_authenticated %}
<dialog class="user-modal" onclick="handleClick(event)" onclose="handleClose()">
  <!-- Catch click events to easily detect if target is dialog or its backdrop. -->
  <div class="user-modal-content">
    <!-- Manual focus trap: move focus to last element in dialog. -->
    <div id="user-modal-pre" tabindex="0" onfocus="focusElement('#user-modal-logout')"></div>
    <div class="user-modal-header">
      <div class="user-details">
        <div class="user-profile">
          {% include 'photo_objects/user-profile-content.html' %}
        </div>
        <div class="labels">
          <div class="label-primary">{{ user|display_name }} </div>
          <div class="label-secondary">{{ user.username }}</div>
        </div>
      </div>
      <button id="user-modal-close" class="link" onclick="closeUserModal()">Close</button>
    </div>
    {% if user.is_staff %}
    <div class="user-modal-action">
      <a href="{% url 'admin:index' %}">Open admin interface</a>
    </div>
    <div class="user-modal-action">
      <a href="{% url 'photo_objects:configuration' %}">Show configuration status</a>
    </div>
    {% endif %}
    <form class="user-modal-action" method="POST" action="/users/logout?next={{ request.path }}">
      {% csrf_token %}
      <button id="user-modal-logout" class="link" type="submit">Logout</button>
    </form>
    <!-- Manual focus trap: move focus to first element in dialog. -->
    <div id="user-modal-post" tabindex="0" onfocus="focusElement('#user-modal-close')"></div>
  </div>
</dialog>
{% endif %}
<script>
  let previousFocus = null;

  function openUserModal() {
    document.querySelector('dialog.user-modal').showModal();

    previousFocus = document.activeElement;
    document.querySelector('#user-modal-close').focus();
  }

  function closeUserModal() {
    document.querySelector('dialog.user-modal').close();
  }

  function handleClose() {
    if (previousFocus) {
      previousFocus.focus();
      previousFocus = null;
    }
  }

  function handleClick(event) {
    if (event.target === event.currentTarget) {
      event.currentTarget.close()
    }
  }

  function focusElement(selector) {
    document.querySelector(selector).focus();
  }
</script>